*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

nav {
    display: flex; 
    align-items: center;  
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border: 1px solid rgb(170, 3, 148);
    padding: 20px;
}

main {
    
}

.navImgLogo {
    width: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
}



footer{
    display: block;
    clear: both;
    border: 1px solid rgb(170, 3, 148);
    padding: 20px;
    margin-top: 40px;
}
h1 { 
    color: blueviolet;

}