footer{
    display: block;
    clear: both;
    border: 1px solid rgb(170, 3, 148);
    padding: 20px;
    margin-top: 40px;
    background: rgb(228,179,249);
    background: radial-gradient(circle, rgba(228,179,249,1) 7%, rgba(103,35,105,1) 100%);
    text-align: center;
}
