*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

nav {
    display: flex; 
    align-items: center;  
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border: 1px solid rgb(170, 3, 148);
    padding: 20px;
    background: rgb(228,179,249);
    background: radial-gradient(circle, rgba(228,179,249,1) 7%, rgba(103,35,105,1) 100%);

}


.navImgLogo {
    width: 50px;
}

